# App
STOREFRONT_URL=https://gracecarry.shop
MEDUSA_ADMIN_ONBOARDING_TYPE=default

# Secret keys
JWT_SECRET=9rhPg0rtTb29TZ4
COOKIE_SECRET=9rhPg0rtTb29TZ4

# Redis
REDIS_URL=redis://localhost:6379

# Database (PostgreSQL)
DATABASE_URL=postgres://postgres@localhost/medusa-medusa

# CORS
STORE_CORS=http://localhost:8000,https://docs.medusajs.com
ADMIN_CORS=http://localhost:5173,http://localhost:9000,https://docs.medusajs.com
AUTH_CORS=http://localhost:5173,http://localhost:9000,https://docs.medusajs.com